.sample-table-wrapper {
    overflow-x: scroll;
}

.sample-table-wrapper::-webkit-scrollbar {
    display: none;
}

.sample-table {
    border-spacing: 0;
    width: 100%;
    height: 100%;
}

.sample-table-thead {
    background-color: #fafafa;
}

.sample-table-th {
    font-weight: 600;
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.sample-table-td {
    padding: 0.75rem;
    border-bottom: 1px solid #eaeaea;
}

.sample-table-tr:hover {
    background-color: #fafafa;
}